# Ignore all the .xlm and .iml files.
*.xml
*.iml

# Ignore the Pycharm and cache files.
.idea
.idea/*
**/__pycache__
**/__pycache__/**

# Ignore output from background processes.
nohup.out
**nohup.out

# Ignore iPython temporary files.
**checkpoint**

# Ignore generated text files.
**.txt
