# ##################################################################################################
# Directories
# ##################################################################################################

# Hidden.
.idea
.vscode

# Configuration.
__pycache__
_minted*

# Python installation.
build
*.egg*


# --------------------------------------------------------------------------------------------------
# Files
# --------------------------------------------------------------------------------------------------

# Various LaTeX output files.
*.aux
*.fdb_latexmk
*.fls
*.gz
*.log
*.pdf
*.out
*.toc

# --------------------------------------------------------------------------------------------------
# Exceptions
# --------------------------------------------------------------------------------------------------

!.gitkeep
