# Ignore all the .xlm and .iml files.
*.xml
*.iml

# Ignore the Pycharm files.
.idea
.idea/*

# Ignore output from background processes.
nohup.out
**nohup.out

# Ignore iPython temporary files.
**checkpoint**

# Ignore generated text files.
**.txt
